.reviews-input-css{
    width: 100%;
    height: 45px;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
}
.my-div{
   
  
    width: 350px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 15px;
}
.text-area-css{
    min-height: 95px;
    border-radius: 8px;
}