.information{
    padding: 10px;
    
}
.main-div-css{
    display: flex;
    justify-content: space-around;
}
.dtails-div{
    width: 100%;
 margin: 10px;
 padding: 20px;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
 

}
.input-css{
    margin-top: 4px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border:3px solid rgb(0, 0, 0) ;
    background-color: rgb(252, 252, 252);
}
.btn-quntity{
    background-color: rgba(214, 245, 164, 0.952);
    font-weight: 600;
    font-size: 18px;
    margin-left: 5px;
    padding: 5px 20px;
    border-radius:10px ;


}
.data-form{
    padding: 2px;
    margin: 10px;
    width: 80%;
    height: 45px;
    border-radius: 5px;
   background-color: rgb(255, 255, 255);
   border:3px solid rgb(0, 0, 0) ;
   
}
.data-form-btn{
    height: 45px;
    border-radius: 5px;
    padding: 2px;
    margin: 10px;
    width: 50%;
    font-weight: 700;
    font-size: 20px;
    background-color: rgb(195, 255, 127);
}



@media screen and (max-width:450px) {

    .main-div-css{
        display: block;
        margin-right: 15px;
        
    }







}